body {
    background-color: white;
    text-color: #040404;
    margin: 0px;
    font-size:14px;
}

.sectionDiv {
    padding: 5px;
    margin: 2px;
    background-color: #F2F2F2;
    border-radius: 4px;
}

button {
    width: 142px;
    height: 28px;
    align:center;
    margin: 0px auto 5px auto ;
    padding: 0px;
    display:block;
    text-align: center;
    
    background-color: #E2E2E2;
}

button.buttonOff {
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
}

button.buttonOn {
    border: 2px solid;
    border-radius: 4px;
    border-color: red;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: #C5C5C5;
}

button:focus {
    outline-color: red;
}

a {
    color: red;
}

.small-line {
    margin: auto 5px 4px 5px;
    display: inline-block;
    height: 1px;
    width: 30px;
    background-color: #F2F2F2;
}

.line {
    margin: auto 5px 4px 5px;
    display: inline-block;
    height: 1px;
    width: 42px;
    background-color: #F2F2F2;
}